<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h1 class="text-center text-danger">Lỗi cập nhật</h1>
</body>
</html>
